.container,
.container-fluid {
  margin-top: 20px;
}

th, td {
  color: #ddd;
}

.card {
  background-image: url(https://media.giphy.com/media/sIIhZliB2McAo/giphy.gif);
  background-size: cover;
  box-shadow: 0 0 140px 10px rgba(0, 0, 0, .5);
  position: relative;
  height: 300px;
  width: 500px;
  transition: width .3s, height .3s;
  cursor: pointer;
}

.card:hover {
  height: 350px;
  width: 583px;
}

.card-container {
  background-color: hsl(207, 9%, 19%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.card-column {
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
